* {
   margin: 0;
   padding: 0;
   list-style-type: none;
   box-sizing: border-box;
}

html {
   font-size: 14px;
   font-weight: 400;
}

a,
a:active {
   color: inherit;
   text-decoration: none;
}

body {
   font-family: 'Raleway', sans-serif;
}

header {
   margin: 0 5px 37px;
}

img {
   width: 100%;
   height: auto;
}

h1 {
   font-size: 22px;
   font-weight: 700;
   padding-bottom: 8px;
}

h2,
li {
   font-size: 17px;
   font-weight: 700;
}


form {
   margin: 20px 0 40px;
   display: grid;
   grid-template-columns: 0.8fr 4fr 2fr;
   width: 30%;
   min-width: 40%;
}

main {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

footer {
   background: #F2F2F2;
   display: flex;
   justify-content: flex-start;
   padding: 45px 0 48px 70px;
   margin-top: 60px;
   gap: 235px;
}

article {
   transition: all .3s;
}



/* id */
#content {
   margin: 50px 50px 0;
   max-width: 1440px;
   min-width: 1024px;
}

#hebergements {
   width: 67%;
   background: #F2F2F2;
   padding: 42px 40px 46px;
   border-radius: 20px;
   animation: section-1 3s forwards;
   right: 90%;
   position: relative;
}

#articles-hebergement {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 30px;
}

#populaire-content {
   background: #F2F2F2;
   width: 31%;
   padding: 42px 40px 46px;
   border-radius: 20px;
   animation: section-2 3s 1s forwards;
   left: 90%;
   position: relative;
}

#most-visited {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 33px;
   width: 100%;
}

#activites {
   animation: section-3 3s 2s forwards;
   right: 200%;
   position: relative;
}

/* les classe */

.bannier-header {
   display: flex;
   justify-content: space-between;
   padding-bottom: 60px;
}

.bannier-filtres {
   display: flex;
   gap: 30px;
   margin-bottom: 30px;
}

.marseille {
   display: flex;
   justify-content: space-between;
}

.stars-icone {
   display: inline-block;
   padding-left: 16px;
   padding-bottom: 11px;
   font-size: 13px;
}

.fa-solid {
   color: #0065FC;
}

.align-vert {
   display: flex;
}

/* header */

.bannier-header img {
   display: block;
   width: 61px;
   height: 19;
}

.bannier-header ul {
   display: flex;
   gap: 63px;
   margin-right: 60px;
}

.bannier-header ul a {
   transition: all .4s;
}

header h2,
.bannier-header li {
   font-weight: 400;
   font-size: 16px;
}

form label[for="search"]::before {
   font: var(--fa-font-solid);
   content: "\f3c5";
   font-size: 1.2em;
   background: #F2F2F2;
   display: block;
   text-align: center;
   padding: 15px;
   border-radius: 15px 0 0 15px;
}

form input[type="submit"] {
   border-radius: 0 15px 15px 0;
   background: #0065FC;
   color: #fff;
   border: transparent;
   font-weight: 700;
   transition: all .3s;
}

form input[type="search"] {
   border: aliceblue 1px solid;
   font-weight: 700;
   text-align: center;
   font-size: 18px;
}

header form .icone-search {
   display: none;
}

.bannier-filtres ul {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 40px;
   max-width: 60%;
}

.bannier-filtres p {
   font-size: 18px;
   font-weight: 900;
   line-height: 38px;
}

.bannier-filtres li {
   text-align: center;
   border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
   border: 2.5px solid #D9D9D9;
   padding: 15px 20px;
   width: max-content;
   margin: auto;
   transition: all .3s;
}


.bannier-filtres li:nth-of-type(1)::before {
   font: var(--fa-font-solid);
   content: "\f53a";
   color: #0065FC;
   font-size: 1.1em;
   padding-right: 10px;
}

.bannier-filtres li:nth-of-type(2)::before {
   font: var(--fa-font-solid);
   content: "\f183";
   color: #0065FC;
   font-size: 1.1em;
   padding-right: 10px;
}

.bannier-filtres li:nth-of-type(3)::before {
   font: var(--fa-font-solid);
   content: "\f004";
   color: #0065FC;
   font-size: 1.1em;
   padding-right: 10px;
}

.bannier-filtres li:nth-of-type(4)::before {
   font: var(--fa-font-solid);
   content: "\f6d3";
   color: #0065FC;
   font-size: 1.1em;
   padding-right: 10px;
}

header h3::before {
   font: var(--fa-font-solid);
   content: "\f129";
   padding-right: 10px;
   color: #0065FC;
   border: 1px solid #D9D9D9;
   border-radius: 50%;
   text-align: center;
   padding: 3px 10px 5px;
   margin-right: 11px;
}


/* section hebergements */

#hebergements h2 {
   font-size: 22px;
   font-weight: 700;
   padding-bottom: 23px;
}

#articles-hebergement article {
   background: #fff;
   min-height: 200px;
   border-radius: 20px 20px;
   box-shadow: 1px 12px 22px -7px rgba(0, 0, 0, 0.41);
}

#articles-hebergement article img {
   width: 100%;
   height: 124px;
   object-fit: cover;
   padding: 5px 5px 0;
   border-radius: 20px 20px 0 0;
}

#articles-hebergement h3,
#articles-hebergement p {
   padding-left: 16px;
   padding-bottom: 9px;
}

#hebergements h2:nth-last-child(1) {
   font-size: 18px;
   padding: 40px 10px 0;
   transition: all .2s;
}

div i:nth-last-child(1) {
   color: #F2F2F2;
}

/* section les plus polulaires*/

#populaire-content h2::after {
   font: var(--fa-font-solid);
   content: "\f201";
   color: #0065FC;
   font-size: 1em;
   right: 0;
   position: absolute;
}

#populaire-content h2 {
   font-size: 22px;
   font-weight: 700;
   padding-bottom: 26px;
   position: relative;
}

#most-visited article {
   background: #fff;
   border-radius: 20px 20px;
   box-shadow: 1px 12px 22px -7px rgba(0, 0, 0, 0.41);
}

#most-visited article img {
   width: 137px;
   height: 144px;
   padding: 5px;
   border-radius: 20px 0 0 20px;
   object-fit: cover;
   margin-right: 15px;
}

#most-visited article div:nth-last-child(1) {
   margin: 16px 22px 12px 0;
   position: relative;
}

#most-visited article div div:nth-last-child(1) {
   position: absolute;
   bottom: 0;
}

#most-visited article h3 {
   padding-bottom: 7px;
   font-size: 17px;
   font-weight: 700;
}


/* section d'activités à Marseille */

#activites h2 {
   font-size: 22px;
   font-weight: 700;
   padding: 60px 0 18px;
}

.marseille article img {
   height: 390px;
   object-fit: cover;
   padding: 5px 5px 0;
   border-radius: 20px 20px 0 0;
}

.marseille article h3 {
   font-size: 16px;
   font-weight: 700;
   padding: 20px 19px;
   border-radius: 0 0 20px 20px;
}

.marseille article {
   border-radius: 20px;
   box-shadow: 1px 12px 22px -7px rgba(0, 0, 0, 0.41);
   width: 23%;
}



/* footer */
footer div {
   display: flex;
   flex-direction: column;
}

footer h2 {
   font-size: 18px;
   padding-bottom: 20px;
}

footer a {
   padding-bottom: 12px;
   transition: all .3s;

}


/* les animations */

footer a:hover {
   transform: translateX(10px);
}

#content article:hover {
   transform: scale(1.1);
   box-shadow: 0px 6px 23px 13px rgba(0, 0, 0, 0.5);
}

#hebergements h2:nth-last-child(1):hover {
   transform: translateY(10px);
   font-size: 22px;
   opacity: .6;
}

.bannier-header ul a:hover {
   border-top: 3px #0065FC solid;
   padding: 40px 30px 0;
   color: #0065FC;
   font-weight: 500;
   transform: scale(1.5);
}

form input[type="submit"]:hover {
   border-radius: 0 15px 15px 0;
   color: #0065FC;
   border: #0065FC 3px solid;
   font-weight: 700;
   background: #fff;
   opacity: .7;
   transform: scale(1.05);
}

.bannier-filtres li:hover {
   background: #DEEBFF;
   transform: translateY(8px);
}

@keyframes section-1 {
   0% {
      right: 90%;
   }

   50% {
      opacity: .5;
      right: 0;
   }

   100% {
      opacity: 1;
      right: 0;
   }
}

@keyframes section-2 {
   0% {
      left: 90%;
   }

   50% {
      opacity: .7;
      left: 0;
   }

   100% {
      opacity: 1;
      left: 0;
   }
}

@keyframes section-3 {
   0% {
      right: 200%;
   }

   50% {
      opacity: .5;
      right: 0;
   }

   100% {
      opacity: 1;
      right: 0;
   }
}

.loader {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: loading 10s forwards;
   z-index: 1000;
}

@keyframes loading {
   100% {
      top: -100%;
   }

}

.lettre {
   color: #0065FC;
   font-size: 80px;
   letter-spacing: 15px;
   margin-bottom: 150px;
   animation: flash 1s linear infinite;
}

@keyframes flash {
   0% {
      color: #0065FC;
      text-shadow: 0 0 7px #fff;
   }

   90% {
      color: #fff;
      text-shadow: none;
   }

   100% {
      color: #0065FC;
      text-shadow: 0 0 7px #fff;
   }
}

.lettre:nth-child(1) {
   animation-delay: .1s;
}

.lettre:nth-child(2) {
   animation-delay: .2s;
}

.lettre:nth-child(3) {
   animation-delay: .3s;
}

.lettre:nth-child(4) {
   animation-delay: .4s;
}

.lettre:nth-child(5) {
   animation-delay: .5s;
}

.lettre:nth-child(6) {
   animation-delay: .6s;
}

.lettre:nth-child(7) {
   animation-delay: .7s;
}




/* Tablet  */

@media screen and (max-width: 1024px) {
   #content {
      max-width: 100%;
      width: 100%;
      margin: 0;
      padding: 44px 72px 0;
   }

   form {
      width: 46%;
   }

   .bannier-filtres ul {
      gap: 15px;
   }

   main {
      gap: 53px;
   }

   #hebergements {
      width: 100%;

   }

   #populaire-content {
      width: 100%;
   }

   #most-visited {
      flex-direction: row;
      gap: 23px;
   }

   #most-visited article img {
      width: 106px;
      margin-right: 10px;
   }

   #most-visited article {
      width: 100%;
   }

   #most-visited article h3 {
      font-size: 14px;
      padding: 12px 25px 7px 0;
   }

   #most-visited article div:nth-last-child(1) {
      margin: 0;
      margin-bottom: 12px;
   }

   #most-visited article p {
      font-size: 13px;
   }

   .marseille {
      gap: 50px;
   }

   .marseille article img {
      height: 211px;
   }

   #activites h2 {
      margin-left: 15px;
   }

   footer {
      gap: 82px;
   }
}



/* Mobile */

@media screen and (max-width: 375px) {
   #content {
      padding: 0;
      margin: 22px 0 0;
      width: 100%;
      max-width: 100%;
   }

   .bannier-header {
      display: block;
      margin: 0;
      width: 100%;
      text-align: center;
   }

   .bannier-header>a {
      display: flex;
      justify-content: center;
      margin-bottom: 53px;
   }

   .bannier-header ul {
      margin: 0;
      gap: 0;
   }

   .bannier-header ul li {
      width: 50%;
   }

   .bannier-header ul a:hover {
      border-bottom: 3px #0065FC solid;
      border-top: none;
      padding: 0 50% 25px;
      color: #0065FC;
      font-weight: 500;
      transform: none;
   }

   h1,
   header h2,
   form,
   header h3,
   .bannier-filtres {
      margin-left: 22px;
      margin-right: 22px;
   }

   form input[type="submit"] {
      display: none;
      position: absolute;
   }

   header form .icone-search {
      color: #fff;
      font-size: 1.8em;
      background: #0065FC;
      text-align: center;
      padding: 10px 20px;
      width: max-content;
      border-radius: 0 15px 15px 0;
      display: unset;
   }

   form {
      width: 80%;
      grid-template-columns: 0.3fr 3fr 1fr;
   }

   .bannier-filtres {
      gap: 15px;
      flex-direction: column;
   }

   .bannier-filtres ul {
      grid-template-columns: 1fr 1fr;
      gap: 25px;
      margin: auto;
      width: 100%;
      max-width: 80%;
   }

   .bannier-filtres li {
      width: 100%;
      padding: 25px 15px;
   }

   main {
      flex-direction: column-reverse;
      margin: 0;
      gap: 0;
   }

   #populaire-content {
      padding: 40px;
   }

   #most-visited {
      flex-direction: column;
   }

   #most-visited article img {
      width: 300px;
      height: 200px;
   }

   #most-visited article h3 {
      font-size: 16px;
   }

   #most-visited article p {
      font-size: 14px;
   }

   #hebergements {
      background: #fff;
      padding: 40px;
   }

   #articles-hebergement {
      grid-template-columns: 1fr;
   }

   #hebergements h2:nth-last-child(1) {
      display: none;
   }
   #articles-hebergement article img{
      height: 300px;
   }

   .marseille {
      flex-direction: column;
      padding: 40px;
   }

   #activites h2 {
      padding: 0 40px 0;
   }

   .marseille article {
      width: 100%;
   }

   footer {
      flex-direction: column;
   }

   .loader {
      display: none;
   }

}